<ul>
    <li><%= link_to "Reviews Index", reviews_path %>
</ul>

<h1>Shows Index</h1>
<li><%= link_to "Add A New Show", new_show_path %>
<ol>
    <% @shows.each do |show| %>
    
        <li>
            <b>Title:</b> <%= show.title %> 
            <b>- Genre:</b> <%= show.genre %> 
            <b>- Rating:</b> <%= show.reviews.first.rating %>
            <b>- Comment:</b> <%= show.reviews.first.comment %>
        </li>
        </br>
    <% end %>
</ol>

